.imgMenu{
    display: block;
   width:100%;
    height: auto;
    max-height: 45vh;
    margin-bottom: 6%;
}
.iconsCol i.fab{
    font-size:1.5rem;
}
.iconsCol.entries_icon{
    padding-bottom: 1%;
    margin-bottom: 1%;
}

@media (min-width:768px) {
    #boxContainer{
        margin-top: 1%;
        
    }
    div.col-sm-12{
        padding-right: 0px;
        padding-left:0px;
    }
    #boxContainer .row{
        margin-bottom: 2%;
    }
}

@media (min-width: 992px) { 
    .iconsCol.entries_icon{
        margin-bottom: 1%;
    }
    
    
}