.imgMenu{
    display: block;
   width:100%;
    height: auto;
    max-height: 45vh;
    margin-bottom: 6%;
}
#entries--container{
    padding:0;
    margin:0;
}
.entries--row{
    width:95vw;
    margin-bottom: 5%;
}
.nav-link{
    margin:0;
    padding:0;
}
.entries--row div.col-md-6{
 padding-left:4%;
 padding-right:1%;
}
@media (min-width:768px) {
    
    div.col-sm-12{
        padding: 0 1% ;
        margin:0;
    }
    
}

