@font-face {
    font-family: 'interblack';
    src: url('../../assets/fonts/inter/Inter-Light-BETA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#globalNavStyles{
    color:#000;
}
.navbar{
    padding-top:1%;
    background-color: #fff;
}
.header{
    margin-bottom: 5%;
    font-family: 'interblack';
    display: flex;
    align-items: center;
    font-size:0.7rem;
}
button.navbar-toggler span{
color:black;

}