@font-face {
    font-family: 'interblack';
    src: url('../../assets/fonts/inter/Inter-Light-BETA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 576px) {
    #header {
      
      padding-top:1%;
      margin-bottom: 1%;
       
   } 
   li.nav-item{
       display: flex;
       justify-content: center;
   }
}

#globalNavStyles{
    color:#000;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-top:1%;
    background-color: #fff;
}
#header {
 
    font-family: 'interblack';

   
    font-size:0.6rem;
}
button.navbar-toggler span{
color:black;


}
#logo{
    width:12vw;
    height: 7vh;
   background-size:contain;
   background-repeat: no-repeat;
   background-position: center;
    background-image: url(./img/LOGO_AB.png)
}
