.carousel{
    height: 84vh;
    width:95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}
.iconsCol{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    width:100vw;
    
}
.iconRow{
    display:flex;
    align-items: center;
    min-height:30px;
    
}
i.fab{
    font-size: 1.4rem;
    padding:0 1%;
}
.w-100{
    width:100vw;
    height: 100vh;
    background-size: cover;
background-position: center top;
}
img.d-block{
    height:84vh;
}
#firstSlide{
    background-image: url(./images/img1.jpg);
    
}
#secondSlide{
    background-image: url(./images/img2.jpg);
    
}
#thirdSlide{
    background-image: url(./images/img3.jpg);
    
}

@media (max-width: 576px) {
     img.d-block{
    height:78vh;
    } 
    .carousel{
       
        margin-bottom: 3%;
    }
    i.fab{
        font-size: 2rem;
        padding:0 5%;
    }
    .iconRow{
        margin-top:2%;
    }
    .w-100{
        height: 79vh;
    
    }
}

