.carousel{
    height: 84vh;
    width:90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
    
}
.iconsCol{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    width:100vw;
    
}
.iconRow{
    display:flex;
    align-items: center;
    min-height:30px;
    
}
i.fab{
    font-size: 1.1rem;
    padding:0 1%;
}
.w-100{
    width:100vw;
    height: 100vh;
    
}
img.d-block{
    height:78vh;
}
@media (max-width: 576px) {
     img.d-block{
    height:78vh;
    } 
    .carousel{
       
        margin-bottom: 3%;
    }
    i.fab{
        font-size: 2rem;
        padding:0 5%;
    }
    .iconRow{
        margin-top:2%;
    }
}

