
.imageSet{
    
        width:100%;
        height: 30vh;
        
        background-position: center;
        background-repeat: no-repeat;
    
    
}
.view .mask{
        height: inherit;
}
.mask__txt{
        font-family: 'interblack';
        font-size: 1.4rem;
}
@media (min-width:768px) {
        .imageSet{
                
                height:26vh;
                    
                }  
    }

@media (min-width: 992px) { 
        .imageSet{
                
        height:40vh;
            
        }  
        
}