
.entries_description{
        width:80vw;
        height: 36vh;
        margin-bottom: 8%;
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
       
}
.description__txt{
        display:flex;
        justify-content: center;
        flex-direction: column;
        padding-left:6.5%;
        letter-spacing: 2px;
        margin-top: 8%;
}
.description__txt h2,
.description__txt h3{
        font-family: 'interblack';
}
.description__txt h2{
        font-size:1rem;
        font-weight: bold;
        
}
.description__txt h2{
        font-size:1rem;
}.description__txt h3{
        font-size: 0.75rem;
}
.description__img{
        
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.footer{
        display:flex;
        justify-content: center;
        padding-bottom: 5%;
}
@media (min-width: 765px)and (max-width:850px) {
        .entries_description{
                width:80vw;
                height: 36vh;
                margin-bottom: 8%;
                background-position: center;
                background-repeat: no-repeat;
               padding:5%;
        }
        .description__txt{
                padding-left:7%;
        }


}
@media (min-width: 851px) { 
        .entries_description{
                width:40vw;
                height:47vh;
                margin-bottom: 3%;
               
               
        }
        .description__txt{
                letter-spacing: 4px;
                align-items: flex-start;
                padding-left:23%;
                margin-top:5%;
        }
}