.entries_description{
        width:40vw;
        height: 70vh;
        margin-bottom: 8%;
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
       
}